/* LoginPage.css */
.login-container {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 360px; /* 새로운 높이 설정 */
    margin: auto;
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 상단에서 50% 위치 */
    left: 50%; /* 왼쪽에서 50% 위치 */
    transform: translate(-50%, -50%); /* 변환을 사용하여 정확히 중앙에 위치하도록 조정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 내용을 세로 중앙에 정렬 */
  }
  
  h2 {
    color: #333;
  }
  
  .login-form {
    width: 100%;
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 100%; /* 입력 그룹의 폭을 조정 */
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    opacity: 0.5;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  