.quiz-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-intro-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
  }
  
  .quiz-intro-container p {
    margin-bottom: 40px;
    font-size: 1.2em;
    color: #666;
  }
  
  .quiz-intro-container button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quiz-intro-container button:hover {
    background-color: #0056b3;
  }
  